/* Your existing CSS styles here */

body {
    font-family: 'Roboto', sans-serif;
    color: #333131;
    margin: 0;
    padding: 0;
}

.main {
    margin: auto;
    width: 80%; /* Adjusted width for better responsiveness */
    max-width: 800px; /* Set a maximum width for large screens */
}

/* Additional styling for header */
.header {
    background-color: #f8f8f8;
    padding: 10px;
}

.header span {
    margin-left: 10px;
}

/* Additional styling for content sections */
.content__main {
    margin-top: 20px;
}

.content__main-item {
    flex-direction: column; /* Adjusted for better mobile view */
}

.content__main-item.project img {
    max-width: 100%; /* Ensure images don't overflow on small screens */
    border-radius: 10px;
    margin-bottom: 10px; /* Space between project images */
}

.content__hello-img {
    width: 142px;
    height: 142px;
    min-width: 142px;
    border-radius: 50%;
    border: 3px solid silver;
    object-fit: cover; /* Maintain aspect ratio without stretching */
}


/* Adjusted styling for project titles and links */
.project .main-item__title {
    font-size: 24px;
}

.project .main-item__links span {
    margin-right: 8px;
}

/* Additional styling for footer */
.footer {
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 10px;
}

.footer__social-item img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}
