@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* The new CSS reset - version 1.7.3 (last updated 7.8.2022) - ... */

/* Your existing CSS styles */

body {
    font-family: 'Roboto', sans-serif;
    color: #333131;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #c8cbcd;
    }

    a {
        color: #fff;
    }

    .content__social-item img,
    .footer__social-item img{
        filter: invert(1);
    }
}

.main {
    margin: auto;
    width: 80%;
    max-width: 800px;
}

/* Additional styling for header */
.header {
    background-color: #f8f8f8;
    padding: 10px;
}

.header span {
    margin-left: 10px;
}

.content__hello-img {
    width: 142px;
    height: 142px;
    min-width: 142px;
    border-radius: 50%;
    border: 3px solid silver;
    object-fit: cover;
}

.content__main {
    margin-top: 20px;
}

.content__main-item {
    flex-direction: column;
}

.content__main-item.project img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project .main-item__title {
    font-size: 24px;
}

.project .main-item__links span {
    margin-right: 8px;
}

/* Additional styling for footer */
.footer {
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 10px;
}

.footer__social-item img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}
